@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: oklch(98.4% 0.003 247.858); /* slate 50 */
  --foreground: oklch(12.9% 0.042 264.695); /* slate 950 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-main-blue: #2B4DE6;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter';
}
